.thredded--topic-source cite a {
  color: #a5aab6;
  text-decoration: none;
  &:hover {
    color: #4a90e2;

  }
}

cite.thredded--messageboard-name {
  color: #a5aab6;
  font-size: 0.875rem;
  font-style: normal;
}

