<% content_for :thredded_page_title, "Topics awaiting reply" %>
<% content_for :thredded_page_id, 'thredded--awaiting_reply' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li><a><%= t('thredded.workgroup.awaiting_reply.title')%></a></li>
  </ul>
<% end %>

<%= render partial: 'thredded/topics/topics_with_last_post'%>
