<% content_for :thredded_page_title, t('thredded.workgroup.following.title') %>
<% content_for :thredded_page_id, 'thredded--following' %>
<% content_for :thredded_breadcrumbs do %>
  <ul class="thredded--navigation-breadcrumbs">
    <li><a><%= t('thredded.workgroup.following.title')%></a></li>
  </ul>
<% end %>

<%= render partial: 'thredded/topics/topics_with_last_post'%>
