<!DOCTYPE html>
<html>
<head>
  <title>ThreddedPersnav</title>
  <%= stylesheet_link_tag    "thredded_persnav/application", media: "all" %>
  <%= javascript_include_tag "thredded_persnav/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
