ul.thredded--workgroup {
  border-bottom: 1px solid #eee;
  font-size: 0.875rem;
  margin-left: 0;
  margin-bottom: 1rem;
  text-align: left;
  list-style-type: none;
  padding-left: 0;
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: $thredded-secondary-nav-color;
      padding: 0.75rem 0.5rem;
      @include thredded-media-tablet-and-up {
        padding: 0.75rem 1rem;
      }
      @include thredded-media-desktop-and-up {
        padding: 0.75rem 1.5rem;
      }
      text-decoration: none;
      &:hover {
        text-decoration: none;
        background-color: #eeeeee;
      }
    }
    &.active {
      font-weight: bold;
      position: relative;
      top: 1px;
      border: 1px solid #eee;
      border-bottom: 1px solid white;
      a {
        color: $thredded-brand;
        &:hover{
          background-color: white;
        }
      }
    }
    .expanded {
      @include thredded-media-mobile {
        display: none;
      }
    }
    .condensed {
      @include thredded-media-tablet-and-up {
        display: none;
      }
    }
    .thredded--user-navigation--unread-topics--followed-count{
      display: none;
      @include thredded-media-desktop-and-up{
        display: inline-block;
      }
    }
  }
}
