$thredded-condensed-height: 100px;
.thredded--condensable {
  box-sizing: border-box;
  &.thredded--condensable--condensed {
    max-height: $thredded-condensed-height;
    overflow: hidden;
    opacity: 0.7;
    position: relative;
    top: 0;
    z-index: 1;
    &.thredded--hovering {
      opacity: 1;
    }
    &.thredded--hover-revealing{
      opacity: 1;
    }
  }
  &.thredded--condensable--expanded {
    max-height: unset;
  }
  cursor: pointer;
}

.thredded--condensable--expand, .thredded--condensable--condense {
  color: #cccccc;
  float: right;
  font-size: 0.75rem;
  .thredded--condensable.thredded--hover-revealing & {
    color: $thredded-brand;
  }
}

.thredded--condensable--overflow-only {
  display: none;
}

.thredded--condensable--overflowing {
  $overflow-only-height: 20px;

  .thredded--condensable--overflow-only {
    display: block;
    width: 100%;
    display: none;
    height: $overflow-only-height;
    background-color: white;
    z-index: 3;
    border-top: 1px dashed #cccccc;
  }
  &.thredded--condensable--condensed .thredded--condensable--overflow-only {
    position: absolute;
    top: $thredded-condensed-height - $overflow-only-height;
    .thredded--condensable--condense {
      display: none;
    }
  }
  &.thredded--condensable--expanded .thredded--condensable--overflow-only {
    position: static;
    .thredded--condensable--expand {
      display: none;
    }
  }

}

